body {
  background-color: rgb(80, 57, 102);
}

.title {
  text-align: center;
}
.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.input {
  width: 30%;
}

.card {
  margin: 10px;
  background-color: darkslateblue;
}
